<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title1 }}</h1>
          {% for item in page.projects %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br/>
              {{ item.description }}
            </span>
          </div>
          {% endfor %}
        </div>

        <div class="work">
          <h1 class="page-heading">{{ page.title2 }}</h1>
          {% for item in page.publications %}
          <div class="work-item">
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              {% if item.link_ACMDL%}
                [{{ item.link_ACMDL }}]
              {% endif%}
              {% if item.link_PDF%}
                [{{ item.link_PDF }}]
              {% endif%}
              {% if item.link_SLIDES%}
                [{{ item.link_SLIDES }}]
              {% endif%}
              <br/>
              {{ item.authors }}
              <br/>
              <em>{{ item.conference }}</em>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
